.mainContainer {
  width: 70vw;
  padding-inline: 15vw;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 2px solid black;
}

body {
  height: 100vh;
}

.contentContainer {
  border: 2px solid black;
}

.contentHeader {
  text-align: center;
  border-bottom: 1px solid red;
  padding-bottom: 5px;
  margin-inline: 10px;
}

.cardHolder {
  border: 2px solid black;
  width: 300px;
}

.raceName {
  margin-block: 10px;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

.listing {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.factionIcon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.factionImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;
}

.raceButtons {
  width: 100px;
}
